# ── Mode mock (pas de DB nécessaire) ──
USE_MOCK=true

# ── Base de données MySQL ──
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=SDO_SARCOPHAGE

# ── Base de données MySQL SADE ──
DB_SADE_HOST=localhost
DB_SADE_PORT=3306
DB_SADE_USER=root
DB_SADE_PASSWORD=
DB_SADE_NAME=SDO_SARCOPHAGE_SADE
DB_SADE_ENABLE_SSL=false
DB_SADE_REJECT_UNAUTHORIZED=true

# ── Microsoft Entra ID (Azure AD) ──
ENTRA_CLIENT_ID=
ENTRA_TENANT_ID=
ENTRA_REDIRECT_URI=http://localhost:3000/login
